fastapi==0.115.6
uvicorn==0.34.0
python-dotenv==1.2.1
pydantic==2.12.5
openai==2.21.0
sqlalchemy==2.0.46
pandas==2.3.3
numpy==1.26.4
psycopg2-binary==2.9.11
sqlparse==0.5.5
sqlalchemy-utils==0.42.1
passlib[bcrypt]==1.7.4
PyJWT==2.10.1
